body, td, th {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.shaded {
  background-color: #f5f5f5;
}

table {
  width:100%;
}

th {
  text-align:center;
}

.large_col {
  width:30%;
  padding-left: 5px;
}
.med_col {
  width:20%;
  text-align: center;
}
.small_col {
  width:15%;
  text-align: center;
}

.glyphicon {
  font-size: .6em;
}

.category {
  font-weight:bold;
  font-size:1.5em;
  height:60px;
  border-bottom: 2px solid #aaa;
  cursor: pointer;
}

.category:hover {
  background-color: #f5f5f5;
}

.item > td {
  padding: 8px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.student > td {
  padding: 3px;
}
